.home-page {
  flex: 1;
  padding: 2rem 0;
}

.home-page .logo {
  height: 50px;
  will-change: filter;
  transition: filter 300ms;
}

.home-page .logo.blocklet:hover {
  filter: drop-shadow(0 0 2em #22cdcdaa);
}

.home-page h1 {
  margin: 0;
  color: var(--primary-color);
}

.card {
  padding: 2em;
  border-radius: 0;
  border-style: dashed;
  border-color: var(--secondary-color);
}

.read-the-docs {
  color: #888;
}

.resume-list {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-page h1 {
  font-size: 32px;
}

.resume-list > li {
  padding: 1em;
  min-height: 172px;
  border: 1px dashed var(--secondary-color);
}

.resume-list > li > a {
  display: block;
  height: 100%;
}

.resume-list .create_new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-list .create_new a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.resume-list .create_new a:hover {
  opacity: 0.5;
}

.resume-list .create_new a img {
  width: 32px;
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .resume-list {
    grid-template-columns: 1fr;
  }
}
